
.card-body{

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.appCard{

    cursor: pointer;
    
    .appCardBody{
        background: #d4d7dd;
    };

    .bd1{
        
        border: 1px solid black;
        padding: 0.3rem;
        border-radius: 0.5rem;
    }

    .danisildi{


        img{

            width: 200px;
        }
    }

}