@import "../sass/reset";
@import "../sass/variables";


.doctorSearch{

    
    padding: 2rem;
    //border: 1px solid black;

    input{

        width: 300px;
        padding: 0.3rem;
        border-radius: 0.3rem;
        font-size: 15px;
    }

    select{
        width: 300px;
        padding: 0.3rem;
        border-radius: 0.3rem;
    }
}


.doctors{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.drCards{

    padding: 0.3rem;
    cursor: pointer;

    &:hover{

        transition:all 0.3s;
        transform: scale(1);
        border: 1px solid red;
        padding: 0.3rem;
        opacity: 0.6;
    }

    img{

        width: 220px;
        height: 170px;
    }
}



.mdl{

    // display: none;
    // background-color: red;
    // width: 250px;
    // height: 200px;
    border-color: red;

    img{
        width: 250px;
        height: 200px;
        padding: 1rem;
        margin: auto;
    };

    input{
        margin-top: 1rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
    }
    p{
        float: left;
    }
}


